html {
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(43, 43, 43);
}

h1 {
    text-align: center;      
}

#container {
    width: 1200px;
    min-height: 400px;
    margin: 0 auto; 
    width: 100%;
}

input {
	font-family: Arial, Helvetica, sans-serif;
	border: 2px solid #bbb;
	background: #111;
	color: #ccc;
	border-radius: 6px;
}

#elements {
    display: grid;
  grid-template-columns: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px 120px 120px;
  grid-template-areas: ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . ." ". . . . . . . . . .";

}

.Fizz {
    display: grid;
    align-items: center;
    justify-content: center;
    margin:10px;
    background-color: #7de7eb;
    border-radius:10px;
    border-style:solid;
    border-width:1px;
    border-color: white;
    transition: all 0.3s linear;
}

.Buzz {
    display: grid;
    align-items: center;
    justify-content: center;
    margin:10px;
    background-color: #7deb8f;
    border-radius:10px;
    border-style:solid;
    border-width:1px;
    border-color: white;
    transition: all 0.3s linear;
}

.FizzBuzz {
    display: grid;
    align-items: center;
    justify-content: center;
    margin:10px;
    background-color: #e4eb7d;
    border-radius:10px;
    border-style:solid;
    border-width:1px;
    border-color: white;
    transition: all 0.3s;
}

.Empty {
    display: grid;
    align-items: center;
    justify-content: center;
    margin:10px;
    background-color: #eb7db0;
    border-radius:10px;
    border-style:solid;
    border-width:1px;
    border-color: white;
    transition: all 0.3s linear;
}

#sizeBox {
    padding-top: 2px;
    padding-bottom: 7px;
    padding-left: 10%;
}

.sliderLabel {
    display: grid; 
    grid-template-columns: auto auto;
}
#elWidth {
    display: grid;
    width: 80%;
    height: 15px;
    border-radius: 5px;    
}

#elHeight {
    display: grid;
    width: 80%;
    height: 15px;
    border-radius: 5px;
}

#menuBox {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 50px;
    font-family: Arial, Helvetica, sans-serif;    
}

#valueBox {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;   
}

#colorBox {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

h3 {
    display: inline;
    font-size: 16px;
    font-weight: 1;
    text-align:left; 
}

#endValue{
    text-align: center;
}

#startValue{
    text-align: center;
}

#fizzValue{
    text-align: center;
}

#buzzValue{
    text-align: center;
}

#default {
    padding: 3px;
    border-radius: 5px;
    background-color: #323a42;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

#clear {
    padding: 3px;
    background-color: #be5670;
    border-radius: 5px;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

#custom {
    padding: 3px;
    border-radius: 5px;
    background-color: #317259;
    color: #fff;
    font-weight: bold;
    transition: 0.3s;
}

#default:hover {
    background-color: #858585;
}

#clear:hover {
    background-color: rgb(241, 134, 161)
}

#custom:hover {
    background-color: rgb(124, 190, 124);
}

@media (max-width: 992px) {
    #container {
        width: 500px;
        height: 100%;
    }

    #valueBox {
        text-align:center;
        padding-right: 10px;
    }
   
   #colorBox {
        text-align:center;
        padding-right: 20px;
    }

    #elements {
        display: grid;
        grid-template-columns: 100px 100px 100px 100px 100px;
        grid-template-rows: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
        grid-template-areas: ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . ." ". . . . .";
    }  
}

@media (max-width: 576px) {  
    #container {
        width: 300px;
        height: 100%;    
    }

/*it looks better in Mozilla Web browser*/
    #valueBox {                  
        padding-right: 50px;  
        text-align:right;
    }
   
   #colorBox {
        padding-right: 120px;
        text-align:right;
    }
    
/*and it looks better in Chrome Web browser*/
/* #valueBox {                         
        padding-right: 125px;  
        text-align:right;
    }

   #colorBox {
        padding-right: 135px;
        text-align:right;
    } */

    #elements {
        display: grid;
        grid-template-columns: auto auto auto;
        grid-template-rows: auto;
        grid-template-areas: ". . .";
    }
}

